/*
DC143C
F75270
F7CAC9
FDEBD0
*/
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FDEBD0;
    font-family: 'eknfont';
}

@font-face {
    font-family: 'eknfont';
    src: url(Fonts/steph-font.ttf);
}

@font-face {
    font-family: 'ekbfont';
    src: url(Fonts/steph-font-bold.ttf);
}

.navbar{
    display: flex;
    background-color: #F75270;
    height: 80px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    font-family: 'ekbfont';
}

.logo{
    margin-right: auto;
    text-decoration: none;
    margin-left: 50px;
    color: #DC143C;
    font-size: 30px;
    background-color: #f8f9fa;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-parts{
    display: flex;
    margin-right: 35px;
}

.nav-parts li{
    margin-right: 10px;
    margin-left: 10px;
    list-style: none;
}

.nav-parts a{
    text-decoration: none;
    color: #DC143C;
    font-size: 20px;
}

.nav-part{
    background-color: #f8f9fa;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

#a-sec{
    padding-top: 130px;
    padding-bottom: 130px;
    color: #f8f9fa;
    background-color: #FDEBD0;
}
.img-box{
    display: flex;
    justify-content: center;
}
.greet{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'eknfont';
    font-size: 25px;
    color: #DC143C;
}

.my-img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

#a-sec img{
    height: 700px;
    position: relative;
    left: 40px;
    bottom: 30px;
    scale: 1.6;
    transition-duration: 0.5s;
}

#a-sec img:hover{
    scale: 1.8;
}


.intro-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro{
    width: 1200px;
    font-size: 30px;
    color: #F75270;
}

#s-sec{
    padding-bottom: 130px;
    padding-top: 130px;
}

.sk{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'eknfont';
    font-size: 25px;
    color: #DC143C;
    margin-bottom: 50px;
}

.sapps{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #F75270;
}

.pro{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #DC143C;
    margin-bottom: 25px;
}

.p-box{
    display: flex;
    justify-content: center;
}

.web-card{
    border: solid red;
    height: 350px;
    width: 230px;
    padding: 10px;
    background-color: #f9f8fa;
}

.web-card img{
    width:230px;
    margin-bottom: 15px;
}

.web-card h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}